:root{
    --white-color: #fff;
    --primary-color-1:#A0E4FF;
    --primary-color-2:#E4CCEF;
    --primary-color-3:#8788D1;
    --primary-color-4:#DDD1C2;
    --primary-dark-color : #050B23;
    --normal-font: 1.2rem;
    --padding:5% 10%;
}

@keyframes contact-link-animation{
    0%{
        background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)), radial-gradient(circle at top left, var(--primary-color-1),var(--primary-color-2), var(--primary-color-3), var(--primary-color-4));
    }
    25%{
        background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)), radial-gradient(circle at top left, var(--primary-color-2),var(--primary-color-3), var(--primary-color-4), var(--primary-color-1));
    }
    75%{
        background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)), radial-gradient(circle at top left, var(--primary-color-3),var(--primary-color-4), var(--primary-color-1), var(--primary-color-2));
    }
    100%{
        background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)), radial-gradient(circle at top left, var(--primary-color-4),var(--primary-color-3), var(--primary-color-2), var(--primary-color-1));
    }
}


.contact-div{
    padding: var(--padding);
    /* margin: 5rem 0; */
    overflow: hidden;
}
.contact-container{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.contact-left{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-link{
    width: 325px;
    height: 70px;
    border: double 3px transparent;
    border-radius: 10px;
    background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)), radial-gradient(circle at top left, var(--primary-color-1),var(--primary-color-2), var(--primary-color-3), var(--primary-color-4));
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: contact-link-animation 6s linear infinite alternate;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: relative;
    margin: 30px 0;
}

.contact-link-a{ 
    border-radius: 10px;
    height: 75px;
    width: 330px;
    backdrop-filter: blur(2px);
    position: absolute;
    line-height: 75px;
    text-align: center;
    font-weight: bold;

}

.contact-icon{
    height: 70px;
    width: 70px;
    font-size: 45px;
    line-height: 70px;
    text-align: center;
    border: 2px solid var(--white-color);
    border-radius: 100%;
    position: absolute;
   right: -45px;
   z-index: 5;
   background-color: var(--primary-dark-color);
}

.contact-right{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .contact-right video{
    width: 320px;
} */

.contact-right img{
    width: 200px;
    margin-bottom: 50px;
}

.contact-social{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-a{
    font-size: 30px;
    transition: .4s ease;
}

.contact-a:hover{
    text-shadow:
    0 0 50px var(--primary-color-2);
}

@media screen and (max-width:900px) {
    .contact-container{
        margin-top: 1.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }
    .contact-right{
        margin-top: 30px;
        width: 100%;
    }

    .contact-left{
        width: 100%;
        align-items: flex-start;
    }
    .contact-link{
        width: 93%;
        font-size: 18px;
        height: 60px;
        margin: 20px 0;
    }
    .contact-link-a{
        left: -4px;
        width: 100%;
        height: 65px;
        line-height: 65px;
    }
    .contact-icon{
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 38px;
        right: -30px
    }
    /* .contact-right video{
        width: 100%;
    } */
}