:root {
  --white-color: #fff;
  --primary-color-1: #a0e4ff;
  --primary-color-2: #e4ccef;
  --primary-color-3: #8788d1;
  --primary-color-4: #ddd1c2;
  --primary-dark-color: #050b23;
  --normal-font: 1.2rem;
  --large-font: 2rem;
  --medium-font: 1.5rem;
  --z-index-max: 999;
  --largest-font: 2.5rem;
}
@keyframes navbar-animation {
  0% {
    border-image-source: linear-gradient(
      to right,
      var(--primary-color-2),
      var(--primary-color-3),
      var(--primary-color-3),
      var(--primary-color-4),
      var(--primary-color-1),
      var(--primary-color-1)
    );
  }
  50% {
    border-image-source: linear-gradient(
      to right,
      var(--primary-color-4),
      var(--primary-color-4),
      var(--primary-color-2),
      var(--primary-color-2),
      var(--primary-color-3),
      var(--primary-color-1)
    );
  }
  100% {
    border-image-source: linear-gradient(
      to right,
      var(--primary-color-1),
      var(--primary-color-2),
      var(--primary-color-3),
      var(--primary-color-3),
      var(--primary-color-4),
      var(--primary-color-4)
    );
  }
}
.nav {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 75px;
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-width: 3px;
  animation: navbar-animation 2s ease-in-out infinite alternate;
  z-index: var(--z-index-max);
}

.navbar {
  backdrop-filter: blur(5px);
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--normal-font);
}

.navbar a {
  color: var(--white-color);
}

.brand {
  margin-left: 25px;
}

.brand img {
  height: 50px;
}

.nav-menu {
  display: flex;
  margin-right: 25px;
}

.nav-item {
  margin: 0 20px;
  cursor: pointer;
  /* transition: 1s all; */
  transition: all 0.5s ease;
}

.nav-item:hover {
  text-shadow: 0 0 5px var(--primary-color-3), 0 0 20px var(--primary-color-2);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .brand {
    margin-left: 15px;
  }
  .brand img {
    height: 60px;
  }
  .menu-icon {
    display: block;
    color: var(--white-color);
    font-size: var(--largest-font);
    margin-right: 15px;
    cursor: pointer;
  }
  .navbar {
    position: relative;
  }
  .nav-menu {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    margin: 0;
    display: none;
    transition: all 0.5s ease;
    backdrop-filter: blur(5px);
    text-align: center;
  }

  .nav-menu.active {
    background-color: var(--primary-dark-color);
    /* right: 0; */
    display: block;
    /* opacity: 1; */
    transition: all 0.5s ease;
    z-index: var(--z-index-max);
    backdrop-filter: blur(5px);
  }
  .nav-item {
    font-size: var(--large-font);
    width: 100%;
    padding: 20px;
    display: block;
    margin: 0;
    text-shadow: 0 0 5px var(--primary-color-3), 0 0 20px var(--primary-color-2);
    transition: all 0.5s ease;
  }

  .nav-item:hover {
    border: 0;
    text-shadow: none;
  }
}
