:root{
  --white-color: #fff;
  --primary-dark-color : #050B23;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--primary-dark-color);
  overflow-x: hidden;
  color: var(--white-color);
}

/* ::-webkit-scrollbar{
  width: 0;
} */

a{
  text-decoration: none;
  color: var(--white-color);
}

li{
  list-style: none;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: #050B23;
}

::-webkit-scrollbar-thumb {
  background: #8788D1;
  height: 75px;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #DDD1C2;
}